/*Page d'acceuil*/

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
}

#loader {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%;
    width: 100%;
    background: rgb(234, 234, 234);
    animation: loader 1.5s ease-in-out normal forwards;
    z-index: 12;
}

#loaderAnim {
    border: 10px solid white;
    border-top: 10px solid #9356DC;
    border-right: 10px solid #FF79DA;
    border-bottom: 10px solid #99E2D0;
    border-left: 10px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    position: fixed;
    z-index: 100;
    top: 0; left: 0; right: 0; bottom: 0;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

header {
    font-family: 'Shrikhand', cursive;
    font-style: italic;
}

a {
    text-decoration: none;
}

header {
    z-index: 3;
}

#location {
    display: flex;
    background-color: rgb(234, 234, 234); 
    box-shadow: 0px 3px 3px #73737338 inset;   
}

#reservation {
    background-color: rgb(246, 246, 246);  
}

#boutonExplo {
    background: linear-gradient(175deg, #FF79DA 5%, #9356DC 95%);
    border-radius: 70px;
    box-shadow: 0 0 16px #0000002e; 
}

#boutonExplo p {
    font-size: 15px;
    font-weight: 700;
    color: white;
}

#restaurants a {
    list-style: none;
    color: black;
}

#restaurants a:link {
    color: #9356DC;
}

#restaurants a:visited {
    color: black;
}

#restaurants a:focus {
    color: #9356DC;
}

#restaurants a:hover {
    color: #9356DC;
}

#restaurants a:active {
    color: #9356DC;
}

.option {
    display: flex;
    background-color: rgb(246, 246, 246);
    border-radius: 25px;
    box-shadow: 0 0 16px #0000002e;
}

#optionFonction a {
    list-style: none;
    color: black;
}

#optionFonction a:link {
    color: #9356DC;
    background: rgba(147,86,220, 0.2);
}

#optionFonction a:visited {
    color: black;
}

#optionFonction a:focus {
    color: #9356DC;
    background: rgba(147,86,220, 0.2);
}

#optionFonction a:hover {
    color: #9356DC;
    background: rgba(147,86,220, 0.2);
}

#optionFonction a:active {
    color: black;
}

.option2 {
    background-color: #9356DC;
    background: rgba(147,86,220, 0.2);
}

.option2 i {
    color: #9356DC;
}

.rond {
    background-color: #9356DC;
    border-radius: 30px;
    color: white;
}

.iconeOption {
    color: grey;
}

#restaurants {
    background-color: rgb(246, 246, 246);
}

#restaurants h2 {
    margin-left: 20px;
    padding-top: 45px;
}

.descriptionRestau {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    position: relative;
    z-index: 0;
}

.nouveau {
    position: absolute;
    background-color: #99E2D0;
    color: #1b6150;
    height: 30px;
    width: 100px;
    text-align: center;
    font-size: 18px;
    top: 1rem;
    right: 1rem;
    animation: cligne 1s linear infinite;
}

@keyframes cligne {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nouveau p {
    margin: 4px 1px 1px 1px;
}

.restauTexte {
    display: flex;
}

.color {
    background: #FF79DA;
    width: 19px;
    height: 18px;
    visibility: hidden;
}

.restauTitre a {
    list-style: none;
    color: black;
}

.restauTitre a:link {
    color: black;
}

.restauTitre a:visited {
    color: black;
}

.restauTitre a:focus {
    color: #9356DC;
}

.restauTitre a:hover {
    color: #9356DC;
}

.restauTitre a:active {
    color: #9356DC;
}

footer {
    background-color: #535353 ;
    color: white;
    display: flex;
    flex-direction: column;
}

footer h4 {
    font-family: 'Shrikhand', cursive;
    font-style: italic;
    font-weight: 300;
}

footer a {
    list-style: none;
}

footer a:visited {
    color: white;
}

.mentionFooter {
    display: flex;
}

/*Page Menu*/

.fleche {
    position: absolute;
}

#pageMenu a {
    list-style: none;
    color: black;
}

#pageMenu a:link {
    color: black;
}

#pageMenu a:visited {
    color: black;
}

#pageMenu a:focus {
    color: #9356DC;
}

#pageMenu a:hover {
    color: #9356DC;
}

#pageMenu a:active {
    color: #9356DC;
}

.menuTitre {
    font-family: 'Shrikhand', cursive;
    font-style: italic;
}

.menuPlats {
    display: flex;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 16px #0000002e;
}

#commander {
    background: linear-gradient(175deg, #FF79DA 5%, #9356DC 95%);
    border-radius: 70px;
    box-shadow: 0 0 16px #0000002e; 
}

#commander p {
    font-size: 15px;
    font-weight: 700;
    color: white;
}

#menuEPD {
    background-color: rgb(234, 234, 234);
}

.menuTitre {
    background-color: rgb(234, 234, 234);
    border-radius: 15px 15px 0px 0px;
}

.valid {
    position: absolute;
    right: 0rem;
    z-index: -1;
    width: 60px;
    height: 77px;
    background: #99E2D0;
    border-radius: 0px 15px 15px 0px;
    cursor:pointer;
    animation: app 1.5s linear;
}

.validAnim {
    color: white;
    margin: 20px 0px 0px 15px;
    font-size: 30px;
    animation: roule 1.5s linear;
    cursor: pointer;
}

.menuPrix {
    animation: decale 1.5s linear;
}

@keyframes decale {
    0% {
        transform: translateX(0);
    }

    100% {
        transform:translateX(-60px);
    }
}

@keyframes roule {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes app {
    0% {
        z-index: -1;
    }

    100% {
        z-index: 0;
    }
    
}

/*desktop*/ 

@media (min-width: 992px){ 
    header h1 {
        text-align: center;
    }

    body {
        max-width: 1440px;
        margin: auto;
    }

    #location {
        font-size: 15px;
        padding-left: 42%;
    }

    .iconeLocation {
        margin: 17px 20px 2px;
    }

    #reservation {
        padding-top: 10px;
        padding-bottom: 50px;
        text-align: center;
    }

    #boutonExplo {
        width: 50%;
        height: 50px;
        margin: 30px 0px 0px 25%;
        padding: 1px 0px 0px 0px;   
        font-size: 20px;
    }

    #fonctionnement h2 {
        margin-left: 10px;
    }

    #optionFonction {
        display: flex;
    }

    .option {
        height: 70px;
        margin-bottom: 30px;
        width: 30%;
        margin-left: 5%;
    }

    .rond {
        width: 17px;
        height: 21px;
        padding: 3px 0px 0px 7px;
        margin: 24px 0px 0px -10px;
    }

    .iconeOption {
        font-size: 22px;
        margin: 25px 0px 0px 30px;
    }

    .option p {
        font-size: 17px;
        font-weight: 700;
        margin: 26px 0px 0px 25px;
    }

    #restaurants {
        height: 750px;
    }

    #listeRestau {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10%;
    }

    .descriptionRestau {
        width: 100%;
        margin-left: 6%;
        margin-top: 15px;
        height: 270px;
        margin-bottom: 30px;
    }

    #restaurants a {
        width: 40%;
        margin-right: 40px;
    }

    .descriptionRestau img {
        width: 100%;
        border-radius: 15px 15px 0 0;
        height: 70%;
    }

    .restauTexte {
        height: 30%;
    }
    
    .restauTexte div {
        margin: -6px 0px 0px 10px;
    }

    .restauTitre {
        width: 87%;
    }

    .restauTitre h3 {
        margin-bottom: -10px;
        font-weight: 700;
    }

    .restauTexte i {
        margin: 20px 0px 0px 0px;
        font-size: 20px;
        font-weight: 100;
    }

    footer {
        padding: 0px 0px 0px 20px;
        text-align: center;
    }

    footer h4 {
        margin-bottom: 0px;
        font-size: 26px;
    }

    footer p {
        font-size: 17px;
        font-weight: 400;
    }

    .mentionFooter1 {
        margin-bottom: -20px;
        margin-left: 42%;
    }

    .mentionFooter2 {
        margin-bottom: -20px;
        margin-left: 42%;
    }

    #last {
        margin-bottom: -20px;
    }

    .mentionFooter1 i {
        margin: 14px 14px 0px 0px;
    }

    .mentionFooter2 i {
        margin: 14px 7px 0px 0px;
    }

    /* Menu */

    .fleche {
        font-size: 30px;
        top: 23px;
        left: 21px;
    }

    .imgMenu {
        width: 108%;
        margin: -20px 0px 32px -8px;
        position: relative;
    }

    .imgMenu img {
        width: 50%;
        z-index: 1;
        margin-left: 22%;
    }

    #menuEPD {
        width: 108%;
        margin: -36px 0px 20px -8px;
        padding-bottom: 50px;
        position: relative;
    }

    .menuTitre {
        display: flex;
        width: 55%;
        z-index: 13;
        margin-top: -4px;
        margin-left: 15%;
        font-size: 15px;
        font-weight: 700;
        padding-left: 10%;
    }

    .menuTitre h1 {
        margin-left: 100px;
    }

    .menuTitre i {
        margin: 29px 0px 0px 30px;
        font-size: 25px;
    }

    .descMenu h2 {
        width: 60px;
        font-weight: 300;
        margin-left: 15px;
        border-bottom: 2px solid #99E2D0;
    }

    .menuPlats {
        font-size: 15px;
        margin-bottom: 20px;
        width: 70%;
        margin-left: 90px;
    }

    .menuPlats h3 {
        font-weight: 700;
        margin-bottom: -10px;
    }

    .menuPrix {
        position: absolute;
        right: 24rem;
        margin-top: 30px;
        font-weight: 700;
    }

    .menuTitreDesc {
        margin-left: 10px;
    }

    #commander {
        width: 12%;
        height: 50px;
        margin: 30px 0px 0px 30%;
        padding: 1px 0px 0px 72px;
    }

    footer {
        width: 108%;
        margin-top: -20px;
    }
}

/*tablet*/

@media (min-width: 768px) and (max-width: 991px) {
    header {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        margin: -40px -26px -60px -19px;
    }

    .searchSection {
        margin: 0px -26px;
    }

    #location {
        font-size: 18px;
    }

    .iconeLocation {
        margin: 19px 20px 2px 40%;
    }

    #reservation {
        padding-top: 10px;
        padding-bottom: 50px;
        text-align: center;
    }

    #boutonExplo {
        width: 50%;
        height: 50px;
        margin: 30px 0px 0px 25%;
        padding: 1px 0px 0px 0px;   
        font-size: 20px;
    }

    .option {
        height: 70px;
        margin-bottom: 30px;
        width: 90%;
        margin-left: 5%;
    }

    .rond {
        width: 17px;
        height: 21px;
        padding: 3px 0px 0px 7px;
        margin: 24px 0px 0px -10px;
    }

    .iconeOption {
        font-size: 22px;
        margin: 25px 0px 0px 30px;
    }

    .option p {
        font-size: 17px;
        font-weight: 700;
        margin: 26px 0px 0px 25px;
    }

    #restaurants {
        margin: 30px -26px;
        height: 750px;
    }

    #listeRestau {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10%;
    }

    .descriptionRestau {
        width: 100%;
        margin-left: 6%;
        margin-top: 15px;
        height: 270px;
        margin-bottom: 30px;
    }

    #restaurants a {
        width: 40%;
        margin-right: 40px;
    }

    .descriptionRestau img {
        width: 100%;
        border-radius: 15px 15px 0 0;
        height: 70%;
    }

    .restauTexte {
        height: 30%;
    }
    
    .restauTexte div {
        margin: -6px 0px 0px 10px;
    }

    .restauTitre {
        width: 87%;
    }

    .restauTitre h3 {
        margin-bottom: -10px;
        font-weight: 700;
    }

    .restauTexte i {
        margin: 20px 0px 0px 0px;
        font-size: 20px;
        font-weight: 100;
    }

    footer {
        width: 102%;
        margin: -30px 0px -8px -8px;
        padding: 0px 0px 0px 20px;
        text-align: center;
    }

    footer h4 {
        margin-bottom: 0px;
        font-size: 26px;
    }

    footer p {
        font-size: 17px;
        font-weight: 400;
    }

    .mentionFooter1 {
        margin-bottom: -20px;
        margin-left: 280px;
    }

    .mentionFooter2 {
        margin-bottom: -20px;
        margin-left: 280px;
    }

    #last {
        margin-bottom: -20px;
    }

    .mentionFooter1 i {
        margin: 14px 14px 0px 0px;
    }

    .mentionFooter2 i {
        margin: 14px 7px 0px 0px;
    }

    /* Menu */

    .fleche {
        font-size: 40px;
        top: 50px;
        left: 21px;
    }

    .imgMenu {
        width: 108%;
        margin: -20px 0px 32px -8px;
        position: relative;
    }

    .imgMenu img {
        width: 100%;
        z-index: 1;
    }

    #menuEPD {
        width: 108%;
        margin: -36px 0px 20px -8px;
        padding-bottom: 50px;
        position: relative;
    }

    .menuTitre {
        display: flex;
        width: 55%;
        z-index: 13;
        margin-top: 234px;
        margin-left: 15%;
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        top: 14rem;
        padding-left: 10%;
    }

    .menuTitre h1 {
        margin-left: 25px;
    }

    .menuTitre i {
        margin: 29px 0px 0px 30px;
        font-size: 25px;
    }

    .descMenu h2 {
        width: 60px;
        font-weight: 300;
        margin-left: 15px;
        border-bottom: 2px solid #99E2D0;
    }

    .menuPlats {
        font-size: 15px;
        margin-bottom: 20px;
        width: 70%;
        margin-left: 90px;
    }

    .menuPlats h3 {
        font-weight: 700;
        margin-bottom: -10px;
    }

    .menuPrix {
        position: absolute;
        right: 11rem;
        margin-top: 30px;
        font-weight: 700;
    }

    .menuTitreDesc {
        margin-left: 10px;
    }

    #commander {
        width: 20%;
        height: 50px;
        margin: 30px 0px 0px 30%;
        padding: 1px 0px 0px 72px;
    }

}

/* Mobile*/

@media only screen and (min-width: 350px) and (max-width: 767px) {
    #all {
        margin: 0;
        width: 100%;
    }
   
    header {
        font-size: 15px;
    }

    header h1 {
        text-align: center;
        width: 100%;
    }

    .searchSection {
        width: 100%;
    }

    #location {
        font-size: 15px;   
    }

    .iconeLocation {
        margin: 17px 20px 0px 30%;
    }

    #reservation {
        margin-top: -1px;
        padding-bottom: 50px;
        padding-top: 20px;
    }

    #reservation h2 {
        font-size: 25px;
        font-weight: 900;
        width: 71%;
        text-align: center;
        margin-left: 14%;
    }

    #reservation p {
        font-size: 16px;
        font-weight: 300;
        width: 90%;
        margin-left: 5%;
        text-align: center;
    }

    #boutonExplo {
        width: 60%;
        height: 50px;
        margin: 30px 0px 0px 20%;
        padding: 1px 0px 0px 0px;   
    }

    #boutonExplo p {
        font-size: 15px;
        font-weight: 700;
        color: white;
    }

    #fonctionnement {
        margin-top: 50px;
    }

    #fonctionnement h2 {
        margin-left: 10px;
    }

    .option {
        height: 70px;
        margin-bottom: 30px;
        width: 90%;
        margin-left: 5%;
    }

    .rond {
        width: 17px;
        height: 21px;
        padding: 3px 0px 0px 7px;
        margin: 24px 0px 0px -10px;
    }

    .iconeOption {
        font-size: 22px;
        margin: 25px 0px 0px 30px;
    }

    .option p {
        font-size: 17px;
        font-weight: 700;
        margin: 26px 0px 0px 25px;
    }

    #restaurants {
        height: 1310px;
    }

    .descriptionRestau {
        width: 90%;
        margin-left: 6%;
        margin-top: 15px;
        height: 270px;
        margin-bottom: 30px;
    }

    .descriptionRestau img {
        width: 100%;
        border-radius: 15px 15px 0 0;
        height: 70%;
    }

    .restauTexte {
        height: 30%;
    }
    
    .restauTexte div {
        margin: -6px 0px 0px 10px;
    }

    .restauTitre {
        width: 87%;
    }

    .restauTitre h3 {
        margin-bottom: -10px;
        font-weight: 700;
    }

    .restauTexte i {
        margin: 20px 0px 0px 0px;
        font-size: 20px;
        font-weight: 100;
    }

    /*.fa-heart {
        color: white;
        border: 1px solid black;
    }

    .fa-heart::before {
        font-weight: bold;
        transition: color 1s ease-out;
    }

    .fa-heart:hover::before{
        color: #9356DC;
        cursor: pointer;
    }*/

    footer {
        width: 100%;
    }

    footer h4 {
        margin-bottom: 0px;
        margin-left: 20px;
    }

    footer a {
        margin-left: 20px;
    }

    footer p {
        font-size: 14px;
        font-weight: 400;
    }

    .mentionFooter1 {
        margin-bottom: -20px;
    }

    .mentionFooter2 {
        margin-bottom: -20px;
    }

    #last {
        margin-bottom: -20px;
    }

    .mentionFooter1 i {
        margin: 14px 14px 0px 0px;
    }

    .mentionFooter2 i {
        margin: 14px 7px 0px 0px;
    }


    /*Page Menu */
    
    .fleche {
        font-size: 20px;
        top: 28px;
        left: 21px;
    }

    .imgMenu {
        width: 100%;
        position: relative;
    }

    .imgMenu img {
        width: 100%;
        z-index: 1;
    }

    .descMenu {
        margin-top: -3px;
    }

    #menuEPD {
        width: 100%;
        padding-bottom: 50px;
        position: relative;
    }

    .menuTitre {
        display: flex;
        width: 100%;
        z-index: 13;
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        top: 12rem;
    }

    .menuTitre h1 {
        margin-left: 25px;
    }

    .menuTitre i {
        margin: 29px 0px 0px 30px;
        font-size: 25px;
    }

    .descMenu h2 {
        width: 60px;
        font-weight: 300;
        margin-left: 15px;
        border-bottom: 2px solid #99E2D0;
    }

    .menuPlats {
        font-size: 15px;
        margin-bottom: 20px;
        width: 94%;
        margin-left: 10px;
        position: relative;
    }

    .menuPlats h3 {
        font-weight: 700;
        margin-bottom: -10px;
    }

    .menuPrix {
        position: absolute;
        right: 1rem;
        margin-top: 30px;
        font-weight: 700;
    }

    .menuTitreDesc {
        margin-left: 10px;
    }

    #commander {
        width: 30%;
        height: 50px;
        margin: 30px 0px 0px 30%;
        padding: 1px 0px 0px 35px;
    }

   

    

}